<% content_for(:full_width) do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Live Awesomely</h1>
      <p class="lead">Plan, prioritize, get accountability, build great habits, live a life worth living.</p>
    </div>
  </div>
<% end %>
