<h1>New Eulogy</h1>

<hr>

<%= simple_form_for(@eulogy, wrapper: :horizontal_form) do |f| %>
  <%= f.input :name %>
  <%= f.input :description, as: :wysiwyg %>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.submit nil, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
