<% content_for(:wizard) do %>
  <div class="card-block">
    <h2 class="card-title">New Eulogy</h2>

    <%= simple_form_for(@eulogy) do |f| %>
      <%= f.input :name, placeholder: 'e.g. "Wife", "Children" or "Business Partner"' %>
      <%= f.input :description, as: :wysiwyg, placeholder: 'Write specifics on how you want to be remembered.' %>
      <%= f.submit nil, class: 'btn btn-success pull-xs-right' %>
    <% end %>
  </div>
<% end %>
